/* Default css file for jemdoc. */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap&text=0123456789'); */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

table#tlayout {
    border: none;
    border-collapse: separate;
    background: white;
}
/*
body {
	background: white;
	padding-bottom: 8px;
	margin: 0;
}
*/
/* html {
  background-color: #424242; 
} */

body { 
  font-family: 'Lato','Lora',Optima,Verdana,Arial,sans-serif,'微软雅黑','宋体';
  color: #000;
  background-color: #ffffff; 
  text-align:left; /* for IE */
  margin-top: 0px; 
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  padding-bottom: 0px;
  max-width: 65%; 
  font-size: 100%;
  line-height: 150%;
}

#layout-menu {
	background: #f6f6f6;
	border: 1px solid #dddddd;
	padding-top: 0.5em;
	padding-left: 8px;
	padding-right: 8px;
	font-size: 1.0em;
	width: auto;
	white-space: nowrap;
    text-align: left;
    vertical-align: top;
}

#layout-menu td {
	background: #f4f4f4;
    vertical-align: top;
}

#layout-content {
	padding-top: 0.0em;
	padding-left: 1.0em;
	padding-right: 1.0em;
    border: none;
    background: #ffffff;
    text-align: left;
    vertical-align: top;
}

#layout-menu a {
	line-height: 1.5em;
	margin-left: 0.5em;
}

tt {
    background: #ffffdd;
}

pt {
	/* color:chocolate; */
	/* color:#c50e0e; */
	/* color:#8d1111; */
	/* color:tomato; */
	font-weight: bold;
}

venue {
	/* background-color:royalblue; */
	/* background-color:rgb(80, 80, 80); */
	background-color:black;
	color: #fff;
	font-family: 'Lora';
	font-size: 80%;
	/* padding-left: 1em;
	padding-right: 1em; */
	margin-right: 0.25em;
	width: 5.5em;
	display:inline-block;
	text-align: center;
	border-color: #000;
	border-style: solid;
	-webkit-box-shadow:inset 0px 0px 0px 0.25em #fff;
    -moz-box-shadow:inset 0px 0px 0px 0.25em #fff;
    box-shadow:inset 0px 0px 0px 0.25em #fff;
	border: #000;
}

pre, tt {
	font-size: 90%;
	font-family: monaco, monospace;
}

a, a > tt {
	/* color: #224b8d; */
	/* color: #0b41ca; */
	/* color: #af2a42; */
	color: #527bbd;
	text-decoration: none;
}
.small {
	font-size: 80%;
	text-decoration: underline;
	margin-right: 0.7em;
}


#layout-menu a.current:link, #layout-menu a.current:visited {
	color: #022b6d;
	border-bottom: 1px gray solid;
}
#layout-menu a:link, #layout-menu a:visited, #layout-menu a:hover {
	color: #527bbd;
	text-decoration: none;
}
#layout-menu a:hover {
	text-decoration: none;
}

a:hover {
	/* color:darkorange; */
	color:blue;
	background-color: transparent;
	/* text-decoration: underline; */
	/* border-bottom: 1px gray dotted; */
}

div.menu-category {
	border-bottom: 1px solid gray;
	margin-top: 0.8em;
	padding-top: 0.2em;
	padding-bottom: 0.1em;
	font-weight: bold;
}

div.menu-item {
	padding-left: 16px;
	text-indent: -16px;
}

div#toptitle {
	padding-bottom: 0.2em;
	margin-bottom: 0.5em;
	/*border-bottom: 3px double gray;*/
}

/* Reduce space if we begin the page with a title. */
div#toptitle + h2, div#toptitle + h3 {
	margin-top: 0em;
}

div#subtitle {
	margin-top: 0.0em;
	margin-bottom: 0.0em;
	padding-top: 0em;
	padding-bottom: 0.1em;
}

em {
	font-style: italic;
}

g {
	color: #aaaaaa
}

strong {
	font-weight: bold;
}


h1, h2, h3 {
	/* color: #527bbd; */
	font-family: Optima;
  	/* color: #c50e0e; */
  	color: #000000;
	margin-top: 0.7em;
	margin-bottom: 0.5em;
	padding-bottom: 0.2em;
	line-height: 1.0;
	padding-top: 0.5em;
	/* border-bottom: 1px solid #aaaaaa; */
	text-decoration: underline;
}

h1 {
	color: #0c0c0c;
	font-size: 180%;
	padding-bottom: 0.3em;
	text-decoration: none;
}

h2 {
	padding-top: 0.8em;
	font-size: 125%;
}

h2 + h3 {
    padding-top: 0.2em;
}

h3 {
	font-size: 110%;
	border-bottom: none;
}

p {
	margin-top: 0.0em;
	margin-bottom: 0.8em;
	padding: 0;
	line-height: 1.3;
}

pre {
	padding: 0;
	margin: 0;
}

div#footer {
	font-size: small;
	border-top: 1px solid #c0c0c0;
	padding-top: 0.1em;
	margin-top: 4.0em;
	color: #c0c0c0;
}

div#footer a {
	color: #80a0b0;
}

div#footer-text {
	float: center;
	padding-bottom: 8px;
}

ul, ol, dl {
	margin-top: 0.2em;
	padding-top: 0;
	margin-bottom: 0.8em;
	padding-left: 2em;
}

dt {
	margin-top: 0.5em;
	margin-bottom: 0;
}

dl {
	margin-left: 20px;
}

dd {
	color: #222222;
}

dd > *:first-child {
	margin-top: 0;
}

ul {
	list-style-position: outside;
	list-style-type: square;
}

p + ul, p + ol {
	margin-top: -0.5em;
}

li {
	margin-top:0.8em;
}

ol {
	list-style-position: outside;
	list-style-type: decimal;
}

li p, dd p {
	margin-bottom: 0.3em;
}


ol ol {
	list-style-type: lower-alpha;
}

ol ol ol {
	list-style-type: lower-roman;
}

p + div.codeblock {
	margin-top: -0.6em;
}

div.codeblock, div.infoblock {
	margin-right: 0%;
	margin-top: 1.2em;
	margin-bottom: 1.3em;
}

div.blocktitle {
	font-weight: bold;
	color: #cd7b62;
	margin-top: 1.2em;
	margin-bottom: 0.1em;
}

div.blockcontent {
	border: 1px solid silver;
	padding: 0.3em 0.5em;
}

div.infoblock > div.blockcontent {
	background: #ffffee;
}

div.blockcontent p + ul, div.blockcontent p + ol {
	margin-top: 0.4em;
}

div.infoblock p {
	margin-bottom: 0em;
}

div.infoblock li p, div.infoblock dd p {
	margin-bottom: 0.5em;
}

div.infoblock p + p {
	margin-top: 0.8em;
}

div.codeblock > div.blockcontent {
	background: #f6f6f6;
}

span.pycommand {
	color: #000070;
}

span.statement {
	color: #008800;
}
span.builtin {
	color: #000088;
}
span.special {
	color: #990000;
}
span.operator {
	color: #880000;
}
span.error {
	color: #aa0000;
}
span.comment, span.comment > *, span.string, span.string > * {
	color: #606060;
}

@media print {
	#layout-menu { display: none; }
}

#fwtitle {
	margin: 2px;
}

#fwtitle #toptitle {
	padding-left: 0.5em;
	margin-bottom: 0.5em;
}

#layout-content h1:first-child, #layout-content h2:first-child, #layout-content h3:first-child {
	margin-top: -0.7em;
}

div#toptitle h1, #layout-content div#toptitle h1 {
	margin-bottom: 0.0em;
	padding-bottom: 0.3em;
	padding-top: 0;
	margin-top: 0.5em;
	border-bottom: none;
}

img.eq {
	padding: 0;
	padding-left: 0.1em;
	padding-right: 0.1em;
	margin: 0;
}

img.eqwl {
	padding-left: 2em;
	padding-top: 0.6em;
	padding-bottom: 0.2em;
	margin: 0;
}

table + table {
    margin-top: 1em;
}

tr.heading {
    font-weight: bold;
    border-bottom: 2px solid black;
}

img {
    border: none;
}

table.imgtable, table.imgtable td {
    border: none;
    text-align: left;
}

:root {
    --color: #a0a0a0;
	--border: #d3d3d3;
}

.filter {
	color: var(--color);
	background-color: #fff;
	border: var(--border);
	border-style: solid;
	border-radius: 0;
	border-width: 1.5px;
	transition: all .3s;
	touch-action: manipulation;
	/* width: 5em; */
}

.filter:focus {
	color: #171e29;
}
  
  .filter:hover {
	border-color: #06f;
	color: #06f;
	fill: #06f;
  }
  
  .filter:active {
	border-color: #06f;
	color: #06f;
	fill: #06f;
  }

/* Style the button that is used to open and close the collapsible content */
.collapsible {
	background-color: #fff;
	/* color: #224b8d; */
	color: #527bbd;
	cursor: pointer;
	padding: 0px;
	/* width: 100%; */
	border: 0px;
	text-align: left;
	outline: none;
	/* font-size: 80%; */
	text-decoration: underline;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  /* .active, .collapsible:hover {
	background-color: rgb(234, 234, 234);
  } */
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
	/* padding: 0 18px; */
	display: none;
	overflow: hidden;
	background-color: #f3f3f3;
  }

.icon {
	height: 30px
}

.tdw {
	/* padding-left: 2em; */
}


/* CSS */
.button-59 {
  align-items: center;
  background-color: #fff;
  border: 1.5px solid #dfdfdf;
  box-sizing: border-box;
  /* color: #af2a42; */
  color: #606060;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: 'Lato','Lora',Optima;
  font-size: 0.75rem;
  /* font-weight: 600; */
  height: 1.2rem;
  justify-content: center;
  /* letter-spacing: -.8px; */
  line-height: 1.3;
  min-width: 60px;
  outline: 0;
  padding: 0 0px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right: 0.2em;
}

.button-59:focus {
  color: #171e29;
}

.button-59:hover {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

.button-59:active {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

@media (min-width: 768px) {
  .button-59 {
	padding-left: 5px;
	padding-right: 5px;
    /* min-width: 170px; */
  }
}